
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0;
    flex-wrap: wrap;
 
}
@media (max-width:950px) {
    .top{
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
 
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 32px;
}
@media (max-width:950px) {
    .text{
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        margin-bottom:25px ;
    }
}
.bottom{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 12px;
}