.descriptionSection {
  flex-direction: column;
}
.spantext {
  color: rgba(82, 190, 220);
}
.title {
  margin-top: 70px;
  font-size: 62px;
  margin-bottom: 25px;
}
.text {
  font-size: 18px;
  margin-bottom: 70px;
}
.image {
  display: flex;
  gap: 32px;
}
.imageleft {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
