.setSection {

  background-color: black;
  color: white;


}

.container {
  display: flex;
  justify-content: end;
  overflow: visible;
}

.image {
  position: absolute;
  left: -16px;
  transform: translate(-100%, 0);

}

.group {
  position: relative;
  width: 50%;
  padding-left: 16px;
}

.groupText {
  padding: 70px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 70px;
}

.title {

  font-size: 62px;
  font-family: 'Archangelsk';
  margin-bottom: 25px;
}

.listTitle {
  color: rgba(82, 190, 220);
  font-size: 24px;
}

.block {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.imageGroup {
  margin-top: 24px;
  margin-right: 625px;
}