

.header {
    min-height: 1000px;
    // background: url('../../assets/backgrounds/HeaderBackground1.jpg') center center/cover no-repeat;
   
    position: relative;
}




.logo {
    width: 296px;
}

.list {
    display: flex;
    gap: 40px;
}

.item {
    cursor: pointer;
}

.container {
    
    display: flex;
    padding: 0 36px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
}

.group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

.block {
    display: flex;
    flex-direction: column;
    padding: 70px 0 0 70px;
    width: 624px;
    height: 369px;
    gap: 25px;
    align-items: baseline;
    background: url('../../assets/backgrounds/HeaderBackgroundBlock.png') left top/contain no-repeat;
}

.text {
    font-size: 62px;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
}

.slide {
    height: 100%;
    
}
