@use './Null.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,700);

@font-face {
    font-family: "Archangelsk";
    src: url('../fonts/ArchangelskFont.ttf');

}


#root {

    
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    overflow: hidden;
}

.container {
    display: flex;
    max-width: 1316px;
    margin: 0 auto;
    position: relative;
    padding: 0 36px;
    overflow: hidden;
}

@media (max-width: 320px) {
    .container {
        padding: 0;
    }
}