.infoSection {
    background-color: #F8F200;
    display: flex;
    justify-content: center;
    gap: 36px;
    padding: 70px 0;
}




.block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.block:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}




.title {
    font-size: 62px;
    font-family: 'Archangelsk';
}

// .iconCross {
//     width: 19px;
//     height: 90px;
// }

.description {
    font-size: 18px;
    margin-top: 25px;
    line-height: 34px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 14px;
    margin-bottom: 40px;
}

.item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.text {
    font-size: 18px;
}

.group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;

}

@media (max-width: 1300px) {
    .group {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .block:first-child {
        justify-content: center;
        gap: 24px;
    }

}


.container {
    display: flex;
    gap: 36px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .block {
        width: 100%;
    }

    .group {
        flex-direction: row;
    }

    .title {
        font-weight: normal;
    }
}



.imagePC {
    width: 624px;
}

@media (max-width: 1300px) {
    .imagePC {
        width: 420px;
    }
}


@media (max-width: 520px) {
    .iconHP, .iconCross {
        width: 40px;
    }

    .iconLogo {
        width: 175px;
    }
}

@media (max-width: 460px) {
    .imagePC{
        width: 296px;
    }

    .title {
        font-size: 30px;
    }

    .text, .description {
        font-size: 16px;
    }
    
}