.registrationSection {
    background-color: black;
    

}

.groupTitle {

    display: flex;
    align-items: center;
    gap: 32px;
}

.title {
    color: white;
    font-size: 62px;
    transform: translate(0, 30%);
    font-family: 'Archangelsk';
}

.backgroundTop {
    margin-bottom: 17px;
    width: 100%;
    height: 70px;
    background: url(../../assets/backgrounds/RegistractionSectionBackgroundTop.jpg);
}

.backgroundBottom {
    margin-top: 70px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: url(../../assets/backgrounds/RegistractionSectionBackgroundBottom.jpg);
}


.text {
    color: white;
    font-size: 18px;
    font-weight: normal;
}

.important {
    color: #52BEDC;
    font-weight: bold;
}


.button {
    background-color: #F8F200;
    padding: 19px 50px;
    border: none;
    outline: none;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 35px;
    position: relative;
}

.input {
    width: 460px;
    border: none;
    border-bottom: 1px solid #777777;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    color: white;
}

.file {
    width: 460px;
    height: 120px;
    border: 2px dashed #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}





.group {
    display: flex;
    align-items: end;
    justify-content: space-between;
}



.groupCheckbox {
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkbox {
    color: white;
    border: 2px solid red;
    background-color: transparent;
    

}



.checkboxText {
    color: white;
    font-size: 12px;
}